## Road Accidents Analysis
****
#### Objective:
The goal of this project is to analyze key factors contributing to road accidents and road safety issues. The project involves cleaning and sampling the dataset using Python (Pandas), followed by building an interactive Excel dashboard to present insights visually.

#### Data Source:
- [Road Accident Dataset (Kaggle)](https://www.kaggle.com/datasets/abdulmannann/road-accidents-csv)
- Download data using above link and save in same folder as this notebook.

#### Dataset Description
- This dataset contains detailed records of road accidents from a specific region over a given period. It includes attributes such as location, time, weather conditions, road surface, light conditions, vehicle types, and casualties.

---

### Step 1: Data Understanding
- Load the dataset using Pandas and perform initial exploration using methods like .info(), .describe(), .value_counts().
- Identify redundant columns, missing values, duplicates, and inconsistent entries.

In [5]:
# Importing pandas
import pandas as pd

# Loading Dataset into dataframe
df=pd.read_excel('Road_Accident_Data.xlsx')

# Displaying 1st 5 rows 
df.head()

,Accident_Index,Accident Date,Day_of_Week,Junction_Control,Junction_Detail,Accident_Severity,Latitude,Light_Conditions,Local_Authority_(District),Carriageway_Hazards,...,Number_of_Casualties,Number_of_Vehicles,Police_Force,Road_Surface_Conditions,Road_Type,Speed_limit,Time,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200901BS70001,2021-01-01,Thursday,Give way or uncontrolled,T or staggered junction,Serious,51.512273,Daylight,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Dry,One way street,30,15:11:00,Urban,Fine no high winds,Car
1,200901BS70002,2021-01-05,Monday,Give way or uncontrolled,Crossroads,Serious,51.514399,Daylight,Kensington and Chelsea,NaN,...,11,2,Metropolitan Police,Wet or damp,Single carriageway,30,10:59:00,Urban,Fine no high winds,Taxi/Private hire car
2,200901BS70003,2021-01-04,Sunday,Give way or uncontrolled,T or staggered junction,Slight,51.486668,Daylight,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Dry,Single carriageway,30,14:19:00,Urban,Fine no high winds,Taxi/Private hire car
3,200901BS70004,2021-01-05,Monday,Auto traffic signal,T or staggered junction,Serious,51.507804,Daylight,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Frost or ice,Single carriageway,30,08:10:00,Urban,Other,Motorcycle over 500cc
4,200901BS70005,2021-01-06,Tuesday,Auto traffic signal,Crossroads,Serious,51.482076,Darkness - lights lit,Kensington and Chelsea,NaN,...,1,2,Metropolitan Police,Dry,Single carriageway,30,17:25:00,Urban,Fine no high winds,Car

In [6]:
# Checking shape
df.shape

(307973, 21)

In [7]:
# Basic info of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307973 entries, 0 to 307972
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Accident_Index              307973 non-null  object
 1   Accident Date               307973 non-null  datetime64[ns]
 2   Day_of_Week                 307973 non-null  object
 3   Junction_Control            307973 non-null  object
 4   Junction_Detail             307973 non-null  object
 5   Accident_Severity           307973 non-null  object
 6   Latitude                    307973 non-null  float64
 7   Light_Conditions            307973 non-null  object
 8   Local_Authority_(District)  307973 non-null  object
 9   Carriageway_Hazards         5424 non-null    object
 10  Longitude                   307973 non-null  float64
 11  Number_of_Casualties        307973 non-null  int64
 12  Number_of_Vehicles          307973 non-null  int64
 13  Police_Force                307973 non-null  object
 14  Road_Surface_Conditions     307656 non-null  object
 15  Road_Type                   306439 non-null  object
 16  Speed_limit                 307973 non-null  int64
 17  Time                        307956 non-null  object
 18  Urban_or_Rural_Area         307973 non-null  object
 19  Weather_Conditions          301916 non-null  object
 20  Vehicle_Type                307973 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(15)
memory usage: 49.3+ MB

In [8]:
# To get descriptive statistics of numerical or datetime columns
df.describe()

,Accident Date,Latitude,Longitude,Number_of_Casualties,Number_of_Vehicles,Speed_limit
count,307973,307973.000000,307973.000000,307973.000000,307973.000000,307973.000000
mean,2021-12-23 22:19:39.804722944,52.487005,-1.368884,1.356882,1.829063,38.866037
min,2021-01-01 00:00:00,49.914488,-7.516225,1.000000,1.000000,10.000000
25%,2021-06-28 00:00:00,51.485248,-2.247937,1.000000,1.000000,30.000000
50%,2021-12-08 00:00:00,52.225943,-1.349258,1.000000,2.000000,30.000000
75%,2022-06-25 00:00:00,53.415517,-0.206810,1.000000,2.000000,50.000000
max,2022-12-31 00:00:00,60.598055,1.759398,48.000000,32.000000,70.000000
std,NaN,1.339011,1.356092,0.815857,0.710477,14.032933

In [9]:
# To get descriptive statistics of other columns
df.describe(exclude=['int','float','datetime64'])

,Accident_Index,Day_of_Week,Junction_Control,Junction_Detail,Accident_Severity,Light_Conditions,Local_Authority_(District),Carriageway_Hazards,Police_Force,Road_Surface_Conditions,Road_Type,Time,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
count,307973,307973,307973,307973,307973,307973,307973,5424,307973,307656,306439,307956,307973,301916,307973
unique,197644,7,7,9,4,5,422,5,51,5,5,1439,2,8,15
top,2010000000000,Friday,Give way or uncontrolled,Not at junction or within 20 metres,Slight,Daylight,Birmingham,Other object on road,Metropolitan Police,Dry,Single carriageway,17:00:00,Urban,Fine no high winds,Car
freq,110304,50529,150045,123094,263280,227286,6165,2243,46789,208967,230612,2933,198532,244496,239794

In [10]:
# Duplicated rows
df[df.duplicated(keep=False)]

,Accident_Index,Accident Date,Day_of_Week,Junction_Control,Junction_Detail,Accident_Severity,Latitude,Light_Conditions,Local_Authority_(District),Carriageway_Hazards,...,Number_of_Casualties,Number_of_Vehicles,Police_Force,Road_Surface_Conditions,Road_Type,Speed_limit,Time,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
50482,2010000000000,2021-01-06,Tuesday,Data missing or out of range,Not at junction or within 20 metres,Slight,53.648498,Daylight,Calderdale,NaN,...,1,1,West Yorkshire,Frost or ice,Single carriageway,50,16:35:00,Rural,Fine no high winds,Car
50483,2010000000000,2021-01-06,Tuesday,Data missing or out of range,Not at junction or within 20 metres,Slight,53.648498,Daylight,Calderdale,NaN,...,1,1,West Yorkshire,Frost or ice,Single carriageway,50,16:35:00,Rural,Fine no high winds,Car

In [11]:
# Total Null values in each column
df.isnull().sum()

Accident_Index                     0
Accident Date                      0
Day_of_Week                        0
Junction_Control                   0
Junction_Detail                    0
Accident_Severity                  0
Latitude                           0
Light_Conditions                   0
Local_Authority_(District)         0
Carriageway_Hazards           302549
Longitude                          0
Number_of_Casualties               0
Number_of_Vehicles                 0
Police_Force                       0
Road_Surface_Conditions          317
Road_Type                       1534
Speed_limit                        0
Time                              17
Urban_or_Rural_Area                0
Weather_Conditions              6057
Vehicle_Type                       0
dtype: int64

In [12]:
# Percentage of Null values in each column
(df.isnull().sum()*100/len(df)).round(2)

Accident_Index                 0.00
Accident Date                  0.00
Day_of_Week                    0.00
Junction_Control               0.00
Junction_Detail                0.00
Accident_Severity              0.00
Latitude                       0.00
Light_Conditions               0.00
Local_Authority_(District)     0.00
Carriageway_Hazards           98.24
Longitude                      0.00
Number_of_Casualties           0.00
Number_of_Vehicles             0.00
Police_Force                   0.00
Road_Surface_Conditions        0.10
Road_Type                      0.50
Speed_limit                    0.00
Time                           0.01
Urban_or_Rural_Area            0.00
Weather_Conditions             1.97
Vehicle_Type                   0.00
dtype: float64

In [13]:
# To find typos in categories 
for col_name in df.columns:
    print(col_name,':\n',df[col_name].unique(),'\n')

Accident_Index :
 ['200901BS70001' '200901BS70002' '200901BS70003' ... '201091NM01935'
 '201091NM01964' '201091NM02142']

Accident Date :
 <DatetimeArray>
['2021-01-01 00:00:00', '2021-01-05 00:00:00', '2021-01-04 00:00:00',
 '2021-01-06 00:00:00', '2021-01-08 00:00:00', '2021-01-02 00:00:00',
 '2021-01-07 00:00:00', '2021-01-10 00:00:00', '2021-01-16 00:00:00',
 '2021-01-12 00:00:00',
 ...
 '2022-09-13 00:00:00', '2022-10-31 00:00:00', '2022-11-21 00:00:00',
 '2022-12-02 00:00:00', '2022-12-18 00:00:00', '2022-12-29 00:00:00',
 '2022-12-30 00:00:00', '2022-12-26 00:00:00', '2022-07-25 00:00:00',
 '2022-12-25 00:00:00']
Length: 730, dtype: datetime64[ns]

Day_of_Week :
 ['Thursday' 'Monday' 'Sunday' 'Tuesday' 'Friday' 'Wednesday' 'Saturday']

Junction_Control :
 ['Give way or uncontrolled' 'Auto traffic signal'
 'Data missing or out of range' 'Authorised person' 'Stop sign'
 'Not at junction or within 20 metres' 'Auto traffic sigl']

Junction_Detail :
 ['T or staggered junction' 'Crossroads'
 'Not at junction or within 20 metres' 'Roundabout' 'Mini-roundabout'
 'More than 4 arms (not roundabout)' 'Private drive or entrance'
 'Slip road' 'Other junction']

Accident_Severity :
 ['Serious' 'Slight' 'Fetal' 'Fatal']

Latitude :
 [51.512273 51.514399 51.486668 ... 57.585044 57.214898 57.57521 ]

Light_Conditions :
 ['Daylight' 'Darkness - lights lit' 'Darkness - lighting unknown'
 'Darkness - lights unlit' 'Darkness - no lighting']

Local_Authority_(District) :
 ['Kensington and Chelsea' 'Hammersmith and Fulham' 'Westminster'
 'Hounslow' 'City of London' 'Tower Hamlets' 'Hackney' 'Camden'
 'Southwark' 'Brent' 'Haringey' 'Islington' 'Barnet' 'Ealing' 'Newham'
 'London Airport (Heathrow)' 'Hillingdon' 'Waltham Forest' 'Redbridge'
 'Barking and Dagenham' 'Havering' 'Lambeth' 'Croydon' 'Wandsworth'
 'Bromley' 'Lewisham' 'Greenwich' 'Bexley' 'Harrow' 'Enfield' 'Sutton'
 'Merton' 'Kingston upon Thames' 'Richmond upon Thames' 'Eden' 'Copeland'
 'South Lakeland' 'Barrow-in-Furness' 'Allerdale' 'Carlisle' 'Fylde'
 'Blackpool' 'Wyre' 'Lancaster' 'Chorley' 'West Lancashire' 'South Ribble'
 'Preston' 'Blackburn with Darwen' 'Hyndburn' 'Ribble Valley' 'Burnley'
 'Pendle' 'Rossendale' 'Wirral' 'Sefton' 'St. Helens' 'Liverpool'
 'Knowsley' 'Manchester' 'Salford' 'Tameside' 'Stockport' 'Bolton' 'Wigan'
 'Trafford' 'Bury' 'Rochdale' 'Oldham' 'Vale Royal' 'Crewe and Nantwich'
 'Halton' 'Chester' 'Macclesfield' 'Cheshire East' 'Warrington'
 'Crewe and ntwich' 'Cheshire West and Chester' 'Congleton'
 'Ellesmere Port and Neston' 'Wansbeck' 'Blyth Valley' 'North Tyneside'
 'Newcastle upon Tyne' 'Tynedale' 'Alnwick' 'South Tyneside' 'Gateshead'
 'Castle Morpeth' 'Sunderland' 'Berwick-upon-Tweed' 'Northumberland'
 'Durham' 'County Durham' 'Easington' 'Chester-le-Street' 'Derwentside'
 'Wear Valley' 'Teesdale' 'Darlington' 'Sedgefield' 'Hambleton' 'York'
 'Craven' 'Richmondshire' 'Scarborough' 'Selby' 'Harrogate' 'Ryedale'
 'Calderdale' 'Bradford' 'Wakefield' 'Leeds' 'Kirklees' 'Doncaster'
 'Rotherham' 'Barnsley' 'Sheffield' 'North East Lincolnshire'
 'North Lincolnshire' 'East Riding of Yorkshire'
 'Kingston upon Hull, City of' 'Hartlepool' 'Redcar and Cleveland'
 'Middlesbrough' 'Stockton-on-Tees' 'Birmingham' 'Wolverhampton' 'Walsall'
 'Dudley' 'Sandwell' 'Solihull' 'Coventry' 'Lichfield' 'Stafford'
 'Stoke-on-Trent' 'East Staffordshire' 'Newcastle-under-Lyme'
 'Cannock Chase' 'South Staffordshire' 'Tamworth'
 'Staffordshire Moorlands' 'Wychavon' 'Malvern Hills' 'Worcester'
 'Wyre Forest' 'Herefordshire, County of' 'Shropshire' 'Redditch'
 'Bromsgrove' 'South Shropshire' 'North Shropshire'
 'Shrewsbury and Atcham' 'Oswestry' 'Telford and Wrekin' 'Bridgnorth'
 'Stratford-upon-Avon' 'Warwick' 'North Warwickshire' 'Rugby'
 'Nuneaton and Bedworth' 'Amber Valley' 'Erewash' 'Bolsover'
 'Derbyshire Dales' 'High Peak' 'Chesterfield' 'North East Derbyshire'
 'Derby' 'South Derbyshire' 'Ashfield' 'Mansfield' 'Newark and Sherwood'
 'Nottingham' 'Gedling' 'Bassetlaw' 'Broxtowe' 'Rushcliffe'
 'South Kesteven' 'South Holland' 'North Kesteven' 'Lincoln'
 'East Lindsey' 'Boston' 'West Lindsey' 'Leicester' 'Melton' 'Charnwood'
 'Blaby' 'Harborough' 'Rutland' 'Hinckley and Bosworth'
 'North West Leicestershire' 'Oadby and Wigston' 'Corby' 'Wellingborough'
 'Daventry' 'Kettering' 'East Northamptonshire' 'Northampton'
 'South Northamptonshire' 'South Cambridgeshire' 'Cambridge'
 'Peterborough' 'East Cambridgeshire' 'Huntingdonshire' 'Fenland'
 'Great Yarmouth' 'Norwich' 'Breckland' 'Broadland'
 "King's Lynn and West Norfolk" 'South Norfolk' 'North Norfolk'
 'Mid Suffolk' 'Suffolk Coastal' 'Forest Heath' 'St. Edmundsbury'
 'Babergh' 'Ipswich' 'Waveney' 'Bedford' 'Mid Bedfordshire'
 'Central Bedfordshire' 'South Bedfordshire' 'Luton' 'East Hertfordshire'
 'Broxbourne' 'Welwyn Hatfield' 'North Hertfordshire' 'Watford'
 'Three Rivers' 'Dacorum' 'Hertsmere' 'St. Albans' 'Stevege' 'Stevenage'
 'Braintree' 'Chelmsford' 'Epping Forest' 'Maldon' 'Tendring' 'Basildon'
 'Brentwood' 'Southend-on-Sea' 'Colchester' 'Uttlesford' 'Harlow'
 'Thurrock' 'Castle Point' 'Rochford' 'Aylesbury Vale' 'Wycombe'
 'South Bucks' 'Chiltern' 'Milton Keynes' 'South Oxfordshire' 'Slough'
 'Cherwell' 'Oxford' 'Vale of White Horse' 'West Oxfordshire'
 'West Berkshire' 'Windsor and Maidenhead' 'Bracknell Forest' 'Reading'
 'Wokingham' 'Rushmoor' 'Basingstoke and Deane' 'Isle of Wight' 'Hart'
 'Portsmouth' 'Fareham' 'Southampton' 'East Hampshire' 'Winchester'
 'Gosport' 'New Forest' 'Eastleigh' 'Test Valley' 'Havant' 'Elmbridge'
 'Mole Valley' 'Runnymede' 'Epsom and Ewell' 'Guildford' 'Spelthorne'
 'Reigate and Banstead' 'Waverley' 'Surrey Heath' 'Woking' 'Tandridge'
 'Medway' 'Dartford' 'Gravesham' 'Tonbridge and Malling' 'Canterbury'
 'Thanet' 'Swale' 'Maidstone' 'Tunbridge Wells' 'Sevenoaks' 'Shepway'
 'Ashford' 'Dover' 'Brighton and Hove' 'Worthing' 'Hastings' 'Horsham'
 'Wealden' 'Lewes' 'Mid Sussex' 'Eastbourne' 'Crawley' 'Rother' 'Arun'
 'Chichester' 'Adur' 'Cornwall' 'Kerrier' 'Penwith' 'North Cornwall'
 'Caradon' 'Plymouth' 'Torbay' 'North Devon' 'Torridge' 'Exeter'
 'South Hams' 'West Devon' 'Restormel' 'Carrick' 'Teignbridge'
 'East Devon' 'Mid Devon' 'Mendip' 'South Gloucestershire'
 'North Somerset' 'Sedgemoor' 'Taunton Deane' 'Bristol, City of'
 'South Somerset' 'West Somerset' 'Bath and North East Somerset'
 'Cotswold' 'Gloucester' 'Stroud' 'Tewkesbury' 'Cheltenham'
 'Forest of Dean' 'Swindon' 'Wiltshire' 'West Wiltshire' 'Salisbury'
 'Kennet' 'North Wiltshire' 'Bournemouth' 'West Dorset' 'Poole'
 'East Dorset' 'Christchurch' 'Purbeck' 'North Dorset'
 'Weymouth and Portland' 'Flintshire' 'Denbighshire' 'Wrexham' 'Conwy'
 'Gwynedd' 'Isle of Anglesey' 'Caerphilly' 'Torfaen' 'Newport'
 'Blaeu Gwent' 'Blaenau Gwent' 'Monmouthshire' 'Rhondda, Cynon, Taff'
 'Merthyr Tydfil' 'Cardiff' 'The Vale of Glamorgan' 'Bridgend'
 'Neath Port Talbot' 'Swansea' 'Carmarthenshire' 'Ceredigion'
 'Pembrokeshire' 'Powys' 'Highland' 'Western Isles' 'Orkney Islands'
 'Shetland Islands' 'Moray' 'Aberdeenshire' 'Aberdeen City' 'Angus'
 'Perth and Kinross' 'Dundee City' 'Fife' 'Edinburgh, City of'
 'East Lothian' 'Scottish Borders' 'West Lothian' 'Midlothian' 'Falkirk'
 'Stirling' 'Clackmannshire' 'Clackmannanshire' 'Glasgow City'
 'East Dunbartonshire' 'East Renfrewshire' 'Renfrewshire' 'Inverclyde'
 'Argyll and Bute' 'West Dunbartonshire' 'North Lanarkshire'
 'North Larkshire' 'South Lanarkshire' 'South Larkshire' 'North Ayrshire'
 'East Ayrshire' 'South Ayrshire' 'Dumfries and Galloway']

Carriageway_Hazards :
 [nan 'Pedestrian in carriageway - not injured' 'Other object on road'
 'Any animal in carriageway (except ridden horse)' 'Previous accident'
 'Vehicle load on road']

Longitude :
 [-0.201349 -0.199248 -0.179599 ... -3.862727 -3.823997 -3.895673]

Number_of_Casualties :
 [ 1 11  3  2  4  5  6 10  8  7  9 13 12 14 16 18 15 19 21 17 27 48 40 24
 26 22 42 43]

Number_of_Vehicles :
 [ 2  1  3  4  5  9  6  8  7 10 16 13 14 11 12 32 19]

Police_Force :
 ['Metropolitan Police' 'City of London' 'Cumbria' 'Lancashire'
 'Merseyside' 'Greater Manchester' 'Cheshire' 'Northumbria' 'Durham'
 'North Yorkshire' 'West Yorkshire' 'South Yorkshire' 'Humberside'
 'Cleveland' 'West Midlands' 'Staffordshire' 'West Mercia' 'Warwickshire'
 'Derbyshire' 'Nottinghamshire' 'Lincolnshire' 'Leicestershire'
 'Northamptonshire' 'Cambridgeshire' 'Norfolk' 'Suffolk' 'Bedfordshire'
 'Hertfordshire' 'Essex' 'Thames Valley' 'Hampshire' 'Surrey' 'Kent'
 'Sussex' 'Devon and Cornwall' 'Avon and Somerset' 'Gloucestershire'
 'Wiltshire' 'Dorset' 'North Wales' 'Gwent' 'South Wales' 'Dyfed-Powys'
 'Northern' 'Grampian' 'Tayside' 'Fife' 'Lothian and Borders' 'Central'
 'Strathclyde' 'Dumfries and Galloway']

Road_Surface_Conditions :
 ['Dry' 'Wet or damp' 'Frost or ice' 'Snow' 'Flood over 3cm. deep' nan]

Road_Type :
 ['One way street' 'Single carriageway' 'Dual carriageway' 'Roundabout'
 'Slip road' nan]

Speed_limit :
 [30 20 50 40 70 60 10 15]

Time :
 [datetime.time(15, 11) datetime.time(10, 59) datetime.time(14, 19) ...
 datetime.time(5, 17) datetime.time(2, 52) nan]

Urban_or_Rural_Area :
 ['Urban' 'Rural']

Weather_Conditions :
 ['Fine no high winds' 'Other' 'Raining no high winds'
 'Snowing no high winds' 'Fine + high winds' 'Raining + high winds' nan
 'Snowing + high winds' 'Fog or mist']

Vehicle_Type :
 ['Car' 'Taxi/Private hire car' 'Motorcycle over 500cc'
 'Van / Goods 3.5 tonnes mgw or under' 'Goods over 3.5t. and under 7.5t'
 'Motorcycle 125cc and under' 'Motorcycle 50cc and under'
 'Bus or coach (17 or more pass seats)' 'Goods 7.5 tonnes mgw and over'
 'Other vehicle' 'Motorcycle over 125cc and up to 500cc'
 'Agricultural vehicle' 'Minibus (8 - 16 passenger seats)' 'Pedal cycle'
 'Ridden horse']

In [14]:
# Missing values in Junction_Control
(df['Junction_Control']=='Data missing or out of range').sum()

98056

In [15]:
# Percentage of missing values in Junction_Control
(df['Junction_Control']=='Data missing or out of range').sum() * 100 /len(df)

31.839154731096556

#### Observations (Step 1: Data Understanding)

- The dataset has 21 columns and 307973 records
  
- **Redundant column**:
   - Carriageway_Hazards is not useful for analysis as it has almost no variance (>98% null values or None type) -> Drop 

- **Duplicate rows**:
   - 1 duplicate row is there -> Drop
     
- **Missing Values**:
   - Road_Surface_Conditions -> 0.1%
   - Road_Type -> 0.5%
   - Time -> 0.01%
   - Weather_Conditions -> 1.97%
   - Junction_Control has 31% unknown but not null -> Keep as is for now.
     
- **Data Entry Issues or Typos**:
   - Accident_Index -> Repeated values indicate possible entry errors, but it will only be used for counting, so can be retained.
   - Junction_Control: 'Auto traffic sigl' -> Replace it with 'Auto traffic signal'
   - Accident_Severity: 'Fetal' -> Replace it with 'Fatal'

---
### Step 2: Data Cleaning
- Drop redundant column
- Handle duplicates & missing values
- Handle inconsistent entries.

In [18]:
# Making copy to work safely
df_copy = df.copy()

# Drop Carriageway_Hazards
df_copy.drop(columns='Carriageway_Hazards',inplace=True)

# Drop duplicates
df_copy.drop_duplicates(inplace=True)

# Drop rows having null values
df_copy.dropna(inplace=True)

# Handling inconsistent entries
df_copy.Junction_Control=df_copy.Junction_Control.replace('Auto traffic sigl','Auto traffic signal')
df_copy.Accident_Severity=df_copy.Accident_Severity.replace('Fetal','Fatal')

# Confirm changes
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 300494 entries, 0 to 307972
Data columns (total 20 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Accident_Index              300494 non-null  object
 1   Accident Date               300494 non-null  datetime64[ns]
 2   Day_of_Week                 300494 non-null  object
 3   Junction_Control            300494 non-null  object
 4   Junction_Detail             300494 non-null  object
 5   Accident_Severity           300494 non-null  object
 6   Latitude                    300494 non-null  float64
 7   Light_Conditions            300494 non-null  object
 8   Local_Authority_(District)  300494 non-null  object
 9   Longitude                   300494 non-null  float64
 10  Number_of_Casualties        300494 non-null  int64
 11  Number_of_Vehicles          300494 non-null  int64
 12  Police_Force                300494 non-null  object
 13  Road_Surface_Conditions     300494 non-null  object
 14  Road_Type                   300494 non-null  object
 15  Speed_limit                 300494 non-null  int64
 16  Time                        300494 non-null  object
 17  Urban_or_Rural_Area         300494 non-null  object
 18  Weather_Conditions          300494 non-null  object
 19  Vehicle_Type                300494 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(14)
memory usage: 48.1+ MB

In [19]:
# % records dropped
(307973-300494)*100/307973

2.428459637695512

In [20]:
# Check duplicates
df_copy[df_copy.duplicated()]

Empty DataFrame
Columns: [Accident_Index, Accident Date, Day_of_Week, Junction_Control, Junction_Detail, Accident_Severity, Latitude, Light_Conditions, Local_Authority_(District), Longitude, Number_of_Casualties, Number_of_Vehicles, Police_Force, Road_Surface_Conditions, Road_Type, Speed_limit, Time, Urban_or_Rural_Area, Weather_Conditions, Vehicle_Type]
Index: []

In [21]:
# Check null
df_copy.isnull().sum()

Accident_Index                0
Accident Date                 0
Day_of_Week                   0
Junction_Control              0
Junction_Detail               0
Accident_Severity             0
Latitude                      0
Light_Conditions              0
Local_Authority_(District)    0
Longitude                     0
Number_of_Casualties          0
Number_of_Vehicles            0
Police_Force                  0
Road_Surface_Conditions       0
Road_Type                     0
Speed_limit                   0
Time                          0
Urban_or_Rural_Area           0
Weather_Conditions            0
Vehicle_Type                  0
dtype: int64

In [22]:
# Check Junction_Control for typos
df_copy.Junction_Control.unique()

array(['Give way or uncontrolled', 'Auto traffic signal',
       'Data missing or out of range', 'Authorised person', 'Stop sign',
       'Not at junction or within 20 metres'], dtype=object)

In [23]:
# Check Accident_Severity for typos
df_copy.Accident_Severity.unique()

array(['Serious', 'Slight', 'Fatal'], dtype=object)

In [24]:
# Assigning copy back to original dataframe
df=df_copy

---
### Step 3: Data Sampling and Saving to excel
- Take 5k rows as sample from cleaned data and save to excel for dashboarding

In [26]:
# Sample 5,000 rows randomly
sample_df = df.sample(n=5000, random_state=18)

# Save the sampled data to a new Excel file
sample_df.to_excel("Road_Accident_Cleaned_Data.xlsx", index=False)

---
#### Excel Dashboard Overview (Road_Accident_Analysis.xlsx):
- 4 KPIs: Total Accidents, Casualties, Vehicles, Avg. Casualties per Accident
- 6 Visuals: Month-wise trend, Hour-wise trend, Accidents By Severity, Accidents By Vehicle type, Accidents By Road surface, Accidents By Junction control, 
- 3 Slicers: Year, Region, Severity